footer {
    background-color: #343a40; 
    margin: 0px; 
    position: 0px; 
    position: absolute; 
    width: 100%; 
    height: 150px;
    padding: 0 10px 0 10px;                 
    left: 0px;
    /*bottom: 0px; */
    width: 100%;
}



.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}